In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
%cd /content/drive/My Drive/Capstone-KPMG/Preprocessing/Data
!ls
df_use = pd.read_csv("main_dataset_all_interstate_all_route_10mi.csv")
df_use.head()

/content/drive/My Drive/Capstone-KPMG/Preprocessing/Data
'alt_fuel_stations(Sep_25_2022).csv'
 attraction_point.csv
 cleaned_main_data.csv
'Copy of I5Exits.csv'
 gas_station_w_10mi_to_exit_I5_1.csv
 gas_station_w_10mi_to_exit_I5_2.csv
 gas_station_w_10mi_to_exit_I5_3.csv
 gas_station_w_10mi_to_exit_I5_4.csv
 gas_station_w_10mi_to_exit_I5_5.csv
 gas_station_w_10mi_to_exit_I5_6.csv
 gas_station_w_10mi_to_exit_I82.csv
 gas_station_w_10mi_to_exit_I90_1.csv
 gas_station_w_10mi_to_exit_I90_2.csv
 gas_station_w_10mi_to_exit_whole.csv
 gas_station_w_attr.csv
 gas_station_w_crime_population.csv
 gas_station_w_dist_to_exit_all.csv
 gas_station_w_dist_to_exit_I5_1.csv
 gas_station_w_dist_to_exit_I5_2.csv
 gas_station_w_dist_to_exit_I5_3.csv
 gas_station_w_dist_to_exit_I5_4.csv
 gas_station_w_dist_to_exit_I5.csv
 gas_station_w_dist_to_exit_I82.csv
 gas_station_w_dist_to_exit_I90.csv
 gas_station_w_dist_to_exit_wholeI5.csv
 gas_station_w_dist_to_exit_wholeI5I90I82.csv
 gas_station_w_dist_to_exit_wholeI90.csv
 gas_station_w_ev_station_cnt.csv
 gas_station_w_nri.csv
 gas_station_w_traffic.csv
 I5Exits.csv
 main_910.csv
 main_dataset_all_interstate_all_route_10mi.csv
 main_dataset_all_interstate_all_route_10mi_w_income.csv
 main_dataset_all_interstate_all_route_11_09.csv
 main_dataset_all_interstate_all_route.csv
 main_dataset_all_interstate.csv
 main_dataset.csv
 wa_EV_stations.csv
 wa_gas_stations.csv
 wa_gas_stations_w_ev_info.csv
 wa_traffic_counts.csv

,gas_key,gas_name,gas_lat,gas_long,attr_cnt_1mile,attr_cnt_5mile,attr_name,attr_lat,attr_long,distance_to_nearest_attr,...,nri_risk_rating,nri_intpt_lat,nri_intpt_long,nri_zipcode,census_tract_area,census_tract_category,traff_cnt_10m_avg,traff_cnt_10m_max,traff_cnt_5m_avg,traff_cnt_5m_max
0,0,24 Hour Express Fuel,48.393760,-122.329806,0,1,Skagit County Fairgrounds,48.408145,-122.340118,1.1020,...,Relatively High,48.404815,-122.340554,98273.0,0.002191,2.0,21209.859155,72000,23733.802817,72000
1,1,76,47.191712,-120.916225,0,1,KBHR Set,47.223241,-120.993224,4.2247,...,NaN,NaN,NaN,NaN,0.000584,2.0,11678.727273,36000,9901.025641,34000
2,2,76,47.238704,-122.357577,0,4,Wagon Trail,47.275437,-122.308897,3.4174,...,Relatively High,47.249149,-122.364191,98424.0,0.001614,2.0,39766.900000,219000,43117.857143,219000
3,3,76,48.435227,-122.291324,0,1,Skagit County Fairgrounds,48.408145,-122.340118,2.9200,...,NaN,NaN,NaN,NaN,0.001533,2.0,20470.068493,72000,23101.204819,72000
4,4,76,47.839608,-120.014523,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.018331,0.0,5653.947368,12000,6723.076923,12000

In [ ]:
%cd /content/drive/My Drive/Capstone-KPMG/Data_Exploration/1_ACS
df_income = pd.read_csv("ACSST5Y2020.S1901-Data.csv", header = 1)
df_income.head()

/content/drive/My Drive/Capstone-KPMG/Data_Exploration/1_ACS

,Geography,Geographic Area Name,Estimate!!Households!!Total,Annotation of Estimate!!Households!!Total,Margin of Error!!Households!!Total,Annotation of Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Margin of Error!!Households!!Total!!Less than $10,000","Annotation of Margin of Error!!Households!!Total!!Less than $10,000","Annotation of Estimate!!Households!!Total!!Less than $10,000",...,Annotation of Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Annotation of Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Annotation of Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,Annotation of Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,Annotation of Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,Unnamed: 258
0,8600000US98001,ZCTA5 98001,11648,NaN,558,NaN,2.9,1.1,NaN,NaN,...,(X),(X),(X),(X),(X),28.9,NaN,(X),(X),NaN
1,8600000US98002,ZCTA5 98002,13162,NaN,583,NaN,4.3,1.5,NaN,NaN,...,(X),(X),(X),(X),(X),23.9,NaN,(X),(X),NaN
2,8600000US98003,ZCTA5 98003,18515,NaN,823,NaN,6.0,1.5,NaN,NaN,...,(X),(X),(X),(X),(X),29.0,NaN,(X),(X),NaN
3,8600000US98004,ZCTA5 98004,17460,NaN,660,NaN,2.7,0.9,NaN,NaN,...,(X),(X),(X),(X),(X),20.3,NaN,(X),(X),NaN
4,8600000US98005,ZCTA5 98005,8590,NaN,501,NaN,4.0,1.8,NaN,NaN,...,(X),(X),(X),(X),(X),26.6,NaN,(X),(X),NaN

In [ ]:
df_income_use = df_income[['Geographic Area Name', 'Estimate!!Households!!Median income (dollars)']]
df_income_use.columns = ['zip_income', 'household_median_income']
df_income_use['zip_income'] = df_income_use['zip_income'].str.split(" ",expand=True)[1].astype(int)
df_income_use.head()

<ipython-input-5-d7ec68a02c16>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_income_use['zip_income'] = df_income_use['zip_income'].str.split(" ",expand=True)[1].astype(int)

   zip_income household_median_income
0       98001                   88962
1       98002                   59097
2       98003                   59560
3       98004                  142173
4       98005                  135225

In [ ]:
! pip install geopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.8/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.8/dist-packages (from geopy) (1.52)

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")
location = geolocator.reverse(str(48.393760)+","+str(-122.329806)).raw['address'].get('postcode', '')
location

'98273'

In [ ]:
df_use[['gas_lat', 'gas_long', 'crime_coord']]

        gas_lat    gas_long                         crime_coord
0     48.393760 -122.329806       48.3937602975452,-122.3298055
1     47.191712 -120.916225        47.1917122975452,-120.916225
2     47.238704 -122.357577       47.2387038975452,-122.3575768
3     48.435227 -122.291324       48.4352268975452,-122.2913239
4     47.839608 -120.014523        47.8396080975452,-120.014523
...         ...         ...                                 ...
2206  48.198460 -122.127847            48.19845955,-122.1278465
2207  48.556192 -122.344545  48.5561919499837,-122.344544599502
2208  48.747436 -122.475199  48.7474358498797,-122.475198612195
2209  48.755411 -122.463930  48.7554107669059,-122.463929704024
2210  48.753535 -122.470103              48.753535,-122.4701027

[2211 rows x 3 columns]

In [ ]:
df_use['zip'] = df_use['crime_coord'].apply(lambda x: geolocator.reverse(x).raw['address'].get('postcode', ''))
df_use['zip'].head()

0    98273
1    98922
2    98424
3    98273
4    98817
Name: zip, dtype: object

In [ ]:
df_income_use.head()

   zip_income household_median_income
0       98001                   88962
1       98002                   59097
2       98003                   59560
3       98004                  142173
4       98005                  135225

In [ ]:
df_income_use["household_median_income"] = df_income_use["household_median_income"].apply(lambda x: np.nan if x == '-' else x)
df_income_use["household_median_income"] = pd.to_numeric(df_income_use["household_median_income"])
df_income_use.head()

<ipython-input-29-ed26f42e9b76>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_income_use["household_median_income"] = df_income_use["household_median_income"].apply(lambda x: np.nan if x == '-' else x)
<ipython-input-29-ed26f42e9b76>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_income_use["household_median_income"] = pd.to_numeric(df_income_use["household_median_income"])

   zip_income  household_median_income
0       98001                  88962.0
1       98002                  59097.0
2       98003                  59560.0
3       98004                 142173.0
4       98005                 135225.0

In [32]:
df_income_use.dtypes

zip_income                   int64
household_median_income    float64
dtype: object

In [ ]:
df_final = df_use.merge(df_income_use, how = 'left', left_on = 'zip', right_on = 'zip_income')

ValueError: ignored

In [ ]:
df_final

,gas_key,gas_name,gas_lat,gas_long,attr_cnt_1mile,attr_cnt_5mile,attr_name,attr_lat,attr_long,distance_to_nearest_attr,...,nri_zipcode,census_tract_area,census_tract_category,traff_cnt_10m_avg,traff_cnt_10m_max,traff_cnt_5m_avg,traff_cnt_5m_max,zip,zip_income,household_median_income
0,0,24 Hour Express Fuel,48.393760,-122.329806,0,1,Skagit County Fairgrounds,48.408145,-122.340118,1.1020,...,98273.0,0.002191,2.0,21209.859155,72000,23733.802817,72000,1,NaN,NaN
1,1,76,47.191712,-120.916225,0,1,KBHR Set,47.223241,-120.993224,4.2247,...,NaN,0.000584,2.0,11678.727273,36000,9901.025641,34000,1,NaN,NaN
2,2,76,47.238704,-122.357577,0,4,Wagon Trail,47.275437,-122.308897,3.4174,...,98424.0,0.001614,2.0,39766.900000,219000,43117.857143,219000,1,NaN,NaN
3,3,76,48.435227,-122.291324,0,1,Skagit County Fairgrounds,48.408145,-122.340118,2.9200,...,NaN,0.001533,2.0,20470.068493,72000,23101.204819,72000,1,NaN,NaN
4,4,76,47.839608,-120.014523,0,0,NaN,NaN,NaN,NaN,...,NaN,0.018331,0.0,5653.947368,12000,6723.076923,12000,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,2206,NaN,48.198460,-122.127847,0,1,Giant Arborvitae (Big Cedar Stump),48.168640,-122.189179,3.5008,...,98292.0,0.001817,2.0,26655.473684,123000,26604.166667,102000,1,NaN,NaN
2207,2207,NaN,48.556192,-122.344545,0,0,NaN,NaN,NaN,NaN,...,NaN,0.011283,0.0,19216.976744,72000,17606.250000,49000,1,NaN,NaN
2208,2208,NaN,48.747436,-122.475199,1,1,Mindport Exhibits,48.750881,-122.480674,0.3452,...,98225.0,0.000309,2.0,21385.658915,69000,23751.250000,69000,1,NaN,NaN
2209,2209,NaN,48.755411,-122.463930,1,1,Mindport Exhibits,48.750881,-122.480674,0.8254,...,98225.0,0.000309,2.0,21216.796875,69000,23464.634146,69000,1,NaN,NaN
2210,2210,NaN,48.753535,-122.470103,1,1,Mindport Exhibits,48.750881,-122.480674,0.5159,...,98225.0,0.000309,2.0,21216.796875,69000,23464.634146,69000,1,NaN,NaN

In [ ]:
df_final["household_median_income"] = np.where(df_final["household_median_income"] == "-", np.nan, df_use["household_median_income"])

KeyError: ignored

In [ ]:
%cd /content/drive/My Drive/Capstone-KPMG/Preprocessing/Data

/content/drive/My Drive/Capstone-KPMG/Preprocessing/Data

In [ ]:
df_final.to_csv('main_dataset_all_interstate_all_route_10mi_w_income.csv', index=False)