In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

# Crime & population

In [3]:
%cd /content/drive/My Drive/Capstone-KPMG/Modeling/Data
!ls
df_gas = pd.read_csv('wa_gas_stations.csv')
df_gas.head()

[Errno 2] No such file or directory: '/content/drive/My Drive/Capstone-KPMG/Modeling/Data'
/content
drive  sample_data

FileNotFoundError: ignored

In [ ]:
! pip install geopy

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")
location = geolocator.reverse(str(48.393760)+","+str(-122.329806)).raw['address'].get('county', '')
location

In [ ]:
df_gas_try = df_gas.copy()
df_gas_try['Longitude'] = df_gas_try['Longitude'].astype(str)
df_gas_try['Latitude'] = df_gas_try['Latitude'].astype(str)
df_gas_try['Coord'] = df_gas_try['Latitude']+','+df_gas_try['Longitude']
df_gas_try.head()

In [ ]:
df_gas_try['County'] = df_gas_try['Coord'].apply(lambda x: geolocator.reverse(x).raw['address'].get('county', ''))

In [ ]:
df_gas_try['County'] = df_gas_try['County'].str.split(' ', expand=True).iloc[:, 0]
df_gas_try

In [ ]:
df_gas_try.to_csv('gas_station_with_county.csv')

In [ ]:
! pip install --upgrade xlrd
%cd /content/drive/My Drive/Capstone-KPMG/Data_Exploration/Crime
!ls

df_crime = pd.read_excel("washington.xls", header = 4, nrows = 150)
df_crime['Total Crime'] = df_crime.drop('Population', axis=1).sum(axis=1)
#df_crime['crime%']= df_crime['Total Crime']/df_crime['Population']

%cd /content/drive/My Drive/Capstone-KPMG/Data_Exploration/WA_Data
city_county = pd.read_excel("WA_city_county(wiki).xlsx",header = 1)[['Name', 'County']]

df_crime_new = pd.merge(df_crime, city_county, how="left", left_on="City", right_on="Name")

df_crime_new = df_crime_new.groupby('County').sum().reset_index()

df_crime_new.head()

In [ ]:
city_county['County'].unique()

In [ ]:
df_gas_try.loc[(df_gas_try.County == 'Walla'),'County']='Walla Walla'
df_gas_try.loc[(df_gas_try.County == 'Grays'),'County']='Grays Harbor'
df_gas_try.loc[(df_gas_try.County == 'Pend'),'County']='Pend Oreille'
df_gas_try.loc[(df_gas_try.County == 'San'),'County']='San Juan'

In [ ]:
df_combined = pd.merge(df_gas_try, df_crime_new, how="left", left_on="County", right_on="County")

In [ ]:
np.sum(df_combined['Population'].isna())

41

In [ ]:
df_combined[df_combined['Population'].isna()]['County'].unique()

array(['Ferry', 'Skamania', 'Wahkiakum', 'Lincoln', 'San Juan',
       'Columbia', 'Asotin'], dtype=object)

In [ ]:
df_crime_new['County'].unique()

array(['Adams', 'Benton', 'Chelan', 'Clallam', 'Clark', 'Cowlitz',
       'Douglas', 'Franklin', 'Grant', 'Grays Harbor', 'Island',
       'Jefferson', 'King', 'Kitsap', 'Kittitas', 'Klickitat', 'Lewis',
       'Mason', 'Okanogan', 'Pacific', 'Pend Oreille', 'Pierce', 'Skagit',
       'Snohomish', 'Spokane', 'Stevens', 'Thurston', 'Walla Walla',
       'Whatcom', 'Whitman', 'Yakima'], dtype=object)

In [ ]:
%cd /content/drive/My Drive/Capstone-KPMG/Modeling/Data
df_combined.to_csv('gas_station_w_crime_population.csv')

/content/drive/My Drive/Capstone-KPMG/Modeling/Data

In [ ]:
df_combined[df_combined['Population'].isna()]

,Longitude,Latitude,name,Coord,County,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape1,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson,Total Crime
154,-118.7368121,48.6419129975452,Beaver Trap Junction,"48.6419129975452,-118.7368121",Ferry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,-121.8861402,45.6928745975452,Cheveron,"45.6928745975452,-121.8861402",Skamania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,-123.3684381,46.1980084975452,Chevron,"46.1980084975452,-123.3684381",Wahkiakum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,-121.9755167,45.6398841975452,Chevron,"45.6398841975452,-121.9755167",Skamania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,-121.8813558,45.6949392975452,Chevron,"45.6949392975452,-121.8813558",Skamania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,-117.8767617,47.6696737975452,Colville's Too,"47.6696737975452,-117.8767617",Lincoln,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,-118.7088659,47.7591865975452,Conoco,"47.7591865975452,-118.7088659",Lincoln,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,-122.8849055,48.6960268975452,Country Corner,"48.6960268975452,-122.8849055",San Juan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,-118.5224363,47.7584437975452,Gas,"47.7584437975452,-118.5224363",Lincoln,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,-123.3656383,46.1971819975452,Gragg's General Store,"46.1971819975452,-123.3656383",Wahkiakum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,-122.9379934,48.6785648975452,Island Hardware Supply,"48.6785648975452,-122.9379934",San Juan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,-122.9393694,48.6779449975452,Island Hardware & Supply,"48.6779449975452,-122.9393694",San Juan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,-117.9774223,46.3213328975452,PDQ,"46.3213328975452,-117.9774223",Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396,-118.6846743,48.6512544975452,Pinegrove Junction,"48.6512544975452,-118.6846743",Ferry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401,-118.7338405,48.6408281975452,Republic Chevron,"48.6408281975452,-118.7338405",Ferry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,-123.1495446,48.6069374975452,Roche Harbor Resort,"48.6069374975452,-123.1495446",San Juan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,-123.0174055,48.5335933975452,Shell,"48.5335933975452,-123.0174055",San Juan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,-121.8210864,45.7410913975452,Wind River Market,"45.7410913975452,-121.8210864",Skamania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,-117.0551206,46.4196307975452,NaN,"46.4196307975452,-117.0551206",Asotin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,-122.8874537,48.6960297975452,NaN,"48.6960297975452,-122.8874537",San Juan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
621,-117.8775691,47.6696394975452,NaN,"47.6696394975452,-117.8775691",Lincoln,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,-117.9888351,46.3161348975452,NaN,"46.3161348975452,-117.9888351",Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,-117.9876093,46.3163016975452,NaN,"46.3163016975452,-117.9876093",Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
703,-123.0151384,48.5364765975452,NaN,"48.5364765975452,-123.0151384",San Juan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
705,-117.9909594,46.3134819975452,NaN,"46.3134819975452,-117.9909594",Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,-118.1273516,46.5203369975452,NaN,"46.5203369975452,-118.1273516",Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
867,-118.6833691,48.0775665975452,NaN,"48.0775665975452,-118.6833691",Ferry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
868,-118.2043341,48.2959390975452,NaN,"48.2959390975452,-118.2043341",Ferry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
882,-122.9129339,48.5260579975452,NaN,"48.5260579975452,-122.9129339",San Juan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
897,-118.505667932092,48.9964919000435,Danville Market,"48.9964919000435,-118.505667932092",Ferry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,-118.22519802737,48.9978044996938,US Eh Gas Convenience Store,"48.9978044996938,-118.22519802737",Ferry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1134,-117.04388205,46.42199425,Costco Gasoline,"46.42199425,-117.04388205",Asotin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1346,-117.05292705,46.34083815,NaN,"46.34083815,-117.05292705",Asotin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353,-118.2534591,47.48654255,NaN,"47.48654255,-118.2534591",Lincoln,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1363,-118.693965923584,47.3346308993858,NaN,"47.3346308993858,-118.693965923584",Lincoln,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1364,-118.146626,47.65419145,NaN,"47.65419145,-118.146626",Lincoln,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1368,-117.97332045,47.29783535,NaN,"47.29783535,-117.97332045",Lincoln,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1427,-118.157242026107,47.6538551506445,NaN,"47.6538551506445,-118.157242026107",Lincoln,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1767,-118.607931792353,48.8015102095677,Malo Store,"48.8015102095677,-118.607931792353",Ferry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1769,-122.86035805,48.4451113,Mini Market,"48.4451113,-122.86035805",San Juan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1979,-122.910248443284,48.52116745,Weeks Garage,"48.52116745,-122.910248443284",San Juan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Traffic

In [ ]:
%cd /content/drive/My Drive/Capstone-KPMG/Modeling/Data
!ls
df = pd.read_csv('gas_station_w_crime_population.csv')
df.head()

/content/drive/My Drive/Capstone-KPMG/Modeling/Data
'alt_fuel_stations(Sep_25_2022).csv'   gas_station_w_nri.csv
 attraction_point.csv		       I5Exits.csv
 gas_station_w_attr.csv		       wa_EV_stations.csv
 gas_station_w_crime_population.csv    wa_gas_stations.csv
 gas_station_w_dist_to_exit_I5.csv     wa_gas_stations_w_ev_info.csv
 gas_station_w_ev_station_cnt.csv

,Unnamed: 0,Longitude,Latitude,name,Coord,County,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape1,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson,Total Crime
0,0,-122.329806,48.393760,24 Hour Express Fuel,"48.3937602975452,-122.3298055",Skagit,75160.0,105.0,2.0,24.0,28.0,51.0,2343.0,278.0,1892.0,173.0,7.0,4903.0
1,1,-120.916225,47.191712,76,"47.1917122975452,-120.916225",Kittitas,24313.0,50.0,0.0,12.0,6.0,32.0,729.0,96.0,602.0,31.0,3.0,1561.0
2,2,-122.357577,47.238704,76,"47.2387038975452,-122.3575768",Pierce,471475.0,2836.0,19.0,285.0,654.0,1878.0,19355.0,3106.0,13641.0,2608.0,149.0,44531.0
3,3,-122.291324,48.435227,76,"48.4352268975452,-122.2913239",Skagit,75160.0,105.0,2.0,24.0,28.0,51.0,2343.0,278.0,1892.0,173.0,7.0,4903.0
4,4,-120.014523,47.839608,76,"47.8396080975452,-120.014523",Chelan,34513.0,62.0,1.0,16.0,10.0,35.0,638.0,66.0,532.0,40.0,1.0,1401.0

In [ ]:
%cd /content/drive/My Drive/Capstone-KPMG/Data_Exploration/2_Traffic&Routes
!ls
# traffic count
df_TrafficCount = pd.read_csv('WSDOT_-_Traffic_Counts_(AADT).csv')
df_TrafficCount['StateRouteNumber'] = df_TrafficCount['StateRouteNumber'].apply(str)
df_TrafficCount.head()

/content/drive/My Drive/Capstone-KPMG/Data_Exploration/2_Traffic&Routes
 WSDOT_-_Local_Agency_Public_Road_Lines.csv
 WSDOT_-_Local_Agency_Public_Road_Routes.csv
 WSDOT_-_National_Highway_System_for_Non-State_Routes.csv
 WSDOT_-_National_Highway_System_for_State_Routes.csv
 WSDOT_-_Roadway_Data_Divided_Highway.csv
'WSDOT_-_Traffic_Counts_(AADT).csv'

,X,Y,OBJECTID,LRSDate,RouteIdentifier,StateRouteNumber,RelatedRouteType,RelatedRouteQualifier,AccumulatedRouteMile,AADT,SingleUnitTruckPct,DoubleUnitTruckPct,TripleUnitTruckPct,DirectionOfTravel,Location,GlobalID,ReportingYear
0,-122.365641,48.240274,1,2021/12/31 00:00:00+00,532,532,NaN,NaN,4.26,19000,NaN,NaN,NaN,Bothways,After Milepost 4.25 A: RIGHT INTERSECTION 98TH...,{9B3865D4-8261-4196-A946-13A1955B8AF5},2021
1,-122.253938,47.298320,2,2021/12/31 00:00:00+00,167Q101469,167,Q1,01469,0.20,3700,NaN,NaN,NaN,Northbound,On Q1 RAMP (15TH ST SW TO SR 167 NB) After RIG...,{0D9D296A-1DFD-4439-9EEA-B3584A94167F},2021
2,-118.387595,46.027572,3,2021/12/31 00:00:00+00,125,125,NaN,NaN,1.89,16000,NaN,NaN,NaN,Bothways,After Milepost 1.88 A: LEFT INTERSECTION COLLE...,{5A643190-D5CC-4A33-8322-661CEBA58B7F},2021
3,-122.541535,46.937836,4,2021/12/31 00:00:00+00,702,702,NaN,NaN,0.59,8700,4.44,2.13,0.31,Bothways,After Milepost 0.58 A: RIGHT INTERSECTION HART...,{1F772D26-2ECC-4503-9A93-365F86B75653},2021
4,-122.333841,47.545449,5,2021/12/31 00:00:00+00,099S102690,99,S1,02690,0.13,15000,NaN,NaN,NaN,Southbound,On S1 RAMP (E MARGNL WAY TO SR 99 SB) After RI...,{0E0F487B-F425-4C64-BF26-5ECA88B40456},2021

In [ ]:
%cd /content/drive/My Drive/Capstone-KPMG/Modeling
from map_request_api import *

/content/drive/My Drive/Capstone-KPMG/Modeling

In [ ]:

%cd /content/drive/My Drive/Capstone-KPMG/Modeling
# Load gas stations
gas_stations_all = pd.read_csv('Data/wa_gas_stations.csv')
gas_stations_all

/content/drive/My Drive/Capstone-KPMG/Modeling

       Longitude   Latitude                  name
0    -122.329806  48.393760  24 Hour Express Fuel
1    -120.916225  47.191712                    76
2    -122.357577  47.238704                    76
3    -122.291324  48.435227                    76
4    -120.014523  47.839608                    76
...          ...        ...                   ...
2206 -122.127847  48.198460                   NaN
2207 -122.344545  48.556192                   NaN
2208 -122.475199  48.747436                   NaN
2209 -122.463930  48.755411                   NaN
2210 -122.470103  48.753535                   NaN

[2211 rows x 3 columns]

In [ ]:
getRemoteTrafficDataList = getRemoteDataList(df_TrafficCount, 'Y', 'X', 'AADT')
# def getRemoteTrafficDataList(df,lt,lg,name):

#     df['shapePoints'] = df.apply(lambda x: [x[lt],x[lg]],axis=1)
#     remoteDataList = []
#     for row in range(df.shape[0]):
#         inner = {}
#         r_data = df.iloc[row]
#         inner['key'] = str(row)
#         inner['name'] = r_data['AADT'].astype(str)
#         inner['shapePoints'] = r_data['shapePoints']
#         remoteDataList.append(inner)
#     return remoteDataList

In [ ]:
def get_avg_from_result(result):
    filtered = pd.DataFrame(result['searchResults'])
    #print(filtered['name'].astype(int).mean())
    return filtered['key'], filtered['shapePoints'], filtered['name'].astype(int).mean()

def get_max_from_result(result):
    filtered = pd.DataFrame(result['searchResults'])
    #print(filtered['name'].astype(int).mean())
    return filtered['key'], filtered['shapePoints'], filtered['name'].astype(int).max()

In [ ]:
# import json
# import urllib.parse
# import urllib.request
# import requests
# import pandas as pd

# MAPQUEST_API_KEY = "SoCgbvqNvo1QokYCIR26DGB4DdPGp1o2"

# BASE_MAPQUEST_URL = "http://www.mapquestapi.com/"

# def build_radius_search_url1() -> str:
#     query_parameters = [('key', MAPQUEST_API_KEY)]
#     return BASE_MAPQUEST_URL +"search/v2/radius?" + urllib.parse.urlencode(query_parameters)

# def build_radius_search_body1(origin, dataList, radius=5) -> str:
#     print(origin)
#     print(dataList)
#     print(radius)
#     json_map = {
#         "origin": {
#             "latLng": { 
#                 "lat": origin[0], 
#                 "lng": origin[1]
#             }
#         },
#         "remoteDataList": dataList,
#         "options": {
#             "radius": str(radius),
#             "units": 'm',
#             "maxMatches": 500
#         }
#     }
#     return json.dumps(json_map)

# def post_radius_search_request1(origin, dataList, radius=5):
#     result = None
#     url = build_radius_search_url1()
#     body = build_radius_search_body1(origin, dataList, radius)
#     try:
#         result = requests.post(url, body)
#         return result.json()

#     finally:
#         if result != None:
#             result.close()

In [ ]:
# for each gas station, compute its traffic 
gas_station_traffic_data = []
for gas_i in range(gas_stations_all.shape[0]):
  gas_data = gas_stations_all.iloc[gas_i]
  gas_origin = [gas_data['Latitude'], gas_data['Longitude']]
  # 1 mile radius traffic count
  result_r1 = post_radius_search_request(gas_origin, getRemoteTrafficDataList, 10)

  if result_r1['resultsCount'] != 0:
    key_1m_avg, shape_1m_avg, traff_cnt_1m_avg = get_avg_from_result(result_r1)
    key_1m_max, shape_1m_max, traff_cnt_1m_max = get_max_from_result(result_r1)
  else:
    traff_cnt_1m_avg = 0
    traff_cnt_1m_max = 0

  # 5 miles radius traffic count
  result_r5 = post_radius_search_request(gas_origin, getRemoteTrafficDataList, 5)
  if result_r5['resultsCount'] != 0:
    key_5m_avg, shape_5m_avg, traff_cnt_5m_avg = get_avg_from_result(result_r5)
    key_5m_max, shape_5m_max, traff_cnt_5m_max = get_max_from_result(result_r5)
  else:
    traff_cnt_5m_avg = 0
    traff_cnt_5m_max = 0

  # print(result_r5)

  
  gas_station_traffic_data.append([gas_i, gas_data['name'], gas_data['Latitude'],gas_data['Longitude'],
                                traff_cnt_1m_avg, traff_cnt_1m_max, traff_cnt_5m_avg, traff_cnt_5m_max])

In [ ]:
gas_station_traffic_data = pd.DataFrame(gas_station_traffic_data)
gas_station_traffic_data.columns = ['gas_key', 'gas_name', 'gas_lat','gas_long',
                        'traff_cnt_10m_avg', 'traff_cnt_10m_max', 'traff_cnt_5m_avg', 'traff_cnt_5m_max']

In [ ]:
gas_station_traffic_data

,gas_key,gas_name,gas_lat,gas_long,traff_cnt_10m_avg,traff_cnt_10m_max,traff_cnt_5m_avg,traff_cnt_5m_max
0,0,24 Hour Express Fuel,48.393760,-122.329806,21209.859155,72000,23733.802817,72000
1,1,76,47.191712,-120.916225,11678.727273,36000,9901.025641,34000
2,2,76,47.238704,-122.357577,39766.900000,219000,43117.857143,219000
3,3,76,48.435227,-122.291324,20470.068493,72000,23101.204819,72000
4,4,76,47.839608,-120.014523,5653.947368,12000,6723.076923,12000
...,...,...,...,...,...,...,...,...
2206,2206,NaN,48.198460,-122.127847,26655.473684,123000,26604.166667,102000
2207,2207,NaN,48.556192,-122.344545,19216.976744,72000,17606.250000,49000
2208,2208,NaN,48.747436,-122.475199,21385.658915,69000,23751.250000,69000
2209,2209,NaN,48.755411,-122.463930,21216.796875,69000,23464.634146,69000
2210,2210,NaN,48.753535,-122.470103,21216.796875,69000,23464.634146,69000

In [ ]:
%cd /content/drive/My Drive/Capstone-KPMG/Modeling/Data
gas_station_traffic_data.to_csv("gas_station_w_traffic.csv")

/content/drive/My Drive/Capstone-KPMG/Modeling/Data